<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/753196f9fe.js" crossorigin="anonymous"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/cpstyles.css">
    <!-- favicon -->
    <link rel="icon" href="favicon-2.ico">

    <title>Freshman || Competitive Programming</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Freshman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="/reso" class="nav-link">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="top">
        <div class="top1 wrap">
            <div class="top1-1">
                <div class="top1-1-data">
                    <h1 class="top1-1-heading">What is CP?</h1>
                    <p class="top1-1-para">Competitive programming is a programming competition generally involving the
                        host presenting a set of logical or mathematical problems to the contestants and contestants are
                        required to write computer programs capable of solving each problem. Judging is based mostly
                        upon number of problems solved and time spent for writing successful solutions, but may also
                        include other factors (quality of output produced, execution time, memory usage, program size,
                        etc.).
                    </p>
                </div>
                <div class="top1-1-space"></div>
                <div class="top1-1-data">
                    <div class="top1-1-img-cnt">
                        <img src="images/Competitive.png" class="top1-1-data-img" style="margin: auto 0;"
                            alt="Competitive Programming">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle1 wrap">
            <div>
                <h1 class="middle-heading">Platfroms for Competitive Programming</h1>
            </div>
            <div class=""></div>
            <div class="middle1-1">
                <a href="https://codeforces.com" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <img src="images/Codeforces.jpeg" class="platform-img" alt="">
                        <h2 class="middle1-1-1-heading">Codeforces</h2>
                        <p class="middle1-1-1-para">
                            This is a platform where you can get a real taste of what CP is like. The contests are more
                            challenging than those on CodeChef and the time limit of 2 hours is also less. As a
                            beginner, this platform is not recommended as you may lose interest in CP if you are unable
                            to solve problems (which is highly likely). When you want to get started, try giving Div 3
                            contests, then move on to Div 2.
                        </p>
                    </div>
                </a>
                <a href="https://www.codechef.com" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <img src="images/Codechef.jpg" class="platform-img" alt="">
                        <h2 class="middle1-1-1-heading">Codechef</h2>
                        <p class="middle1-1-1-para">
                            A CodingChef contest is a suitable place to begin your CP journey since the starting
                            questions are easy to solve and the difficulty level gradually increases. The time limit of
                            three hours is sufficient to solve the problems. During the contest, you can also see a live
                            rating graph that can raise or lower your morale based on your performance.
                        </p>
                    </div>
                </a>
                <a href="https://leetcode.com/contest/" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <img src="images/Leetcode.png" class="platform-img" alt="">
                        <h2 class="middle1-1-1-heading">Leetcode</h2>
                        <p class="middle1-1-1-para">
                            One of the best places to get prepared for DSA-based interviews. This is because the time
                            limit of the contest is similar to what companies give and the questions are also fully
                            DSA-based. Don't start giving contests before you have completed all the basic data
                            structures. If you don't understand even the basics of the data structure used in the
                            question, you won't be able to solve it.
                        </p>
                    </div>
                </a>
            </div>
            <div class="middle-bottom">
                <p>Practicing questions on these platforms is essential for excelling in these coding contests since you
                    will get a sense of the types of questions and you will be able to solve them, which will increase
                    your overall problem-solving abilities.</p>
            </div>

        </div>
    </div>

    <%- include("partials/footer.ejs") -%>