<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/753196f9fe.js" crossorigin="anonymous"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/devstyles.css">
    <!-- favicon -->
    <link rel="icon" href="favicon-2.ico">

    <title>Freshman || Development</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Freshman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="/reso" class="nav-link">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="top">
        <div class="top1 wrap">
            <div class="top1-1">
                <div class="top1-1-data">
                    <h1 class="top1-1-heading">What is Development?</h1>
                    <p class="top1-1-para">Software development is the process of conceiving, specifying, designing,
                        programming, documenting, testing, and bug fixing involved in creating and maintaining
                        applications, frameworks, or other software components. Software development involves writing
                        and maintaining the source code, but in a broader sense, it includes all processes from the
                        conception of the desired software through to the final manifestation of the software, typically
                        in a planned and structured process. Software development also includes research, new
                        development, prototyping, modification, reuse, re-engineering, maintenance, or any other
                        activities that result in software products.
                    </p>
                </div>
                <div class="top1-1-space"></div>
                <div class="top1-1-data">
                    <img src="images/Development 2.jpg" class="top1-1-data-img" width="100%"
                        alt="Competitive Programming">
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle1 wrap">
            <div>
                <h1 class="middle-heading">Types of Development</h1>
            </div>
            <div class=""></div>
            <div class="middle1-1">
                <div class="middle1-1-1">
                    <img src="images/Web Development.jpeg" width="90%" height="250px" style="margin: 0 5% ;"
                        alt="web dev image">
                    <h2 class="middle1-1-1-heading">Web Development</h2>
                    <p class="middle1-1-1-para">
                        Web development is the work involved in developing a website for the Internet (World Wide Web).
                        Web development can range from developing a static web page of plain text to complex web
                        applications, electronic businesses, and social network services. There are also 2 subcategories
                        of web development: Front End (the visual part of the website), and Back End (the background
                        process that happens when we do anything on the website).
                    </p>
                </div>
                <div class="middle1-1-1">
                    <img src="images/App Develpment.jpg.webp" width="90%" height="250px" style="margin: 0 5% ;"
                        alt="app dev image">
                    <h2 class="middle1-1-1-heading">App Development</h2>
                    <p class="middle1-1-1-para">
                        Mobile application development is the process of creating software applications that run on a
                        mobile device, and a typical mobile application utilizes a network connection to work with
                        remote computing resources. Hence, the mobile development process involves creating installable
                        software bundles (code, binaries, assets, etc.) , implementing backend services such as data
                        access with an API, and testing the application on target devices.
                    </p>
                </div>
                <div class="middle1-1-1">
                    <img src="images/Blockchain.jpg" width="90%" height="250px" style="margin: 0 5% ;"
                        alt="blockchain image">
                    <h2 class="middle1-1-1-heading">Block Chain Developmemt</h2>
                    <p class="middle1-1-1-para">
                        Blockchain development is the process of creating shared, unchangeable, distributed ledger
                        technology (DLT) that securely records transactions and tracks assets like money or real estate
                        or copyrights—within a network. A blockchain is essentially a decentralized database that
                        multiple participants manage; its DLT provides each node in the network with its own copy of the
                        ledger.
                    </p>
                </div>
            </div>
            <div class="middle1-1">
                <div class="middle1-1-1">
                    <img src="images/IOS 2.jpg" width="90%" height="250px" style="margin: 0 5% ;" alt="ios dev image">
                    <h2 class="middle1-1-1-heading">IOS Developmemt</h2>
                    <p class="middle1-1-1-para">
                        iOS is Apple’s mobile OS that runs on an iPhone, iPad, iPod Touch hardware. Apple provides tools
                        and resources for creating iOS apps and accessories for these devices. As an iOS developer, you
                        can program in native languages such as Swift or Objective-C or build cross-platform native
                        applications using React Native (JavaScript) or Xamarin (C# & F#). Xcode is the graphical
                        interface you'll use to write iOS app
                    </p>
                </div>
                <div class="middle1-1-1">
                    <img src="images/Android.png" width="90%" height="250px" style="margin: 0 5% ;"
                        alt="androi dev image">
                    <h2 class="middle1-1-1-heading">Android Developmemt</h2>
                    <p class="middle1-1-1-para">
                        Android software development is the process by which applications are created for devices
                        running the Android operating system. Android apps can be written using Kotlin, Java, and C++
                        languages using the Android software development kit (SDK), while using other languages is also
                        possible. The official Android app distribution mechanism to end users is Google Play.
                    </p>
                </div>
                <div class="middle1-1-1">
                    <img src="images/Web3.jpg" width="90%" height="250px" style="margin: 0 5% ;" alt="web3 dev image">
                    <h2 class="middle1-1-1-heading">WEB3 Developmemt</h2>
                    <p class="middle1-1-1-para">A Web3 developer has the knowledge and skills needed to build and
                        optimize decentralized applications or dApps and smart contracts based on Web3 as well as
                        blockchain architecture and protocols. They also deal with 3D modeling, 3D design, and 3D
                        content creation, as is the case with game development.Web3 is a collection of JS libraries that
                        lets you interact with an Ethereum node remotely or locally.
                    </p>
                </div>
            </div>
            <div class="middle-bottom">
                <p>Choosing the type of development that is suitable for you and practising by making new projects is
                    the key to becoming a skilled developer. The beginning might be challenging, but consistency and
                    practice will lead to success.
                </p>
                <p style="font-size: 28px;">In the website's resources section, you can find courses and other
                    references.</p>
            </div>

        </div>
    </div>


    <%- include("partials/footer.ejs") -%>