<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/753196f9fe.js" crossorigin="anonymous"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/dsastyles.css">
    <!-- favicon -->
    <link rel="icon" href="favicon-2.ico">

    <title>Freshman || DSA </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Freshman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="/reso" class="nav-link" target="_blank">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="top">
        <div class="top1 wrap">
            <div class="top1-1">
                <div class="top1-1-data">
                    <h1 class="top1-1-heading">What is Data Structures and Algorithms?</h1>
                    <p class="top1-1-para">A computer program is a collection of instructions to perform a specific
                        task. For this, a computer program may need to store data, retrieve data, and perform
                        computations on the data. Data structure is a storage that is used to store and organize data.
                        It is a way of arranging data on a computer so that it can be accessed and updated
                        efficiently.Depending on your requirement and project, it is important to choose the right data
                        structure for your project
                    </p>
                </div>
                <div class="top1-1-space"></div>
                <div class="top1-1-data">
                    <img src="images/Data-Structures-and-Algorithms.png" class="top1-1-data-img" width="100%"
                        alt="Competitive Programming">
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle1 wrap">
            <div>
                <h1 class="middle-heading">Platfroms for Data Structures and Algorithms</h1>
            </div>
            <div class="middle1-1">
                <a href="https://www.geeksforgeeks.org" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <h2 class="middle1-1-1-heading">GeeksforGeesk</h2>
                        <p class="middle1-1-1-para">
                            GFG is a goldmine for someone who wants to learn DSA. The articles on GFG are so precise and
                            extremely detailed that we can understand any data structure in and out if we read and
                            understand the articles carefully. GFG's practice section is a fabulous place to practice
                            the concepts learned. It has thousands of questions and we can practice DSA as much as we
                            can.
                        </p>
                    </div>
                </a>
                <a href="https://codeforces.com/catalog" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <h2 class="middle1-1-1-heading">CodeForces Editorials</h2>
                        <p class="middle1-1-1-para">
                            Codeforces editorials are the place where you can learn all the techniques to solve
                            questions and learn all the predefined algorithms. The editorials are extremely detailed and
                            of very high quality. You can know a lot more about these algorithms even if you already
                            know that particular algorithm.
                        </p>
                    </div>
                </a>
                <a href="https://leetcode.com" class="middle-link" target="_blank">
                    <div class="middle1-1-1">
                        <h2 class="middle1-1-1-heading">Leetcode</h2>
                        <p class="middle1-1-1-para">
                            It is the leading and most popular platform for practising DSA questions. In addition, it
                            shows us which topics we have covered more by showing the number of questions we have solved
                            on that topic. It also has all the previous DSA questions asked during interviews by
                            companies. Leetcode medium-level questions are a must if you target DSA-based roles.
                        </p>
                    </div>
                </a>
            </div>
            <div class="middle-bottom">
                <p>Practicing questions on these platforms is essential since you will get a sense of the types of
                    questions and you will be able to solve them, which will increase your overall problem-solving
                    abilities.</p>
                <p style="font-size: 28px;">In the website's resources section, you can find ercommended courses and
                    other references.</p>
            </div>

        </div>
    </div>

    <%- include("partials/footer.ejs") -%>