<%- include("partials/header.ejs") -%>
<div class="top">
    <div class="top1 wrap">
        <div class="top1-1">
            <h1 class="top1-1-data">Hey Geek,</h1>
        </div>
        <div class="top1-2">
            <div class="top1-2-items">
                <p class="top1-2-items-data1">
                    Starting off on your programming journey and confused as hell about where to begin? No worries,
                    we've all been there and lived through that phase. It's pretty easy to cross it if you have
                    someone guiding you through it. Here we provide you with the resources needed to start your
                    coding journey. You can find everything in the sections listed below, and find the recommended
                    courses and other reference material links in the resources section of the website.
                </p>
            </div>
            <div class="top1-2-space1"></div>
            <div class="top1-2-space2"></div>
            <div class="top1-2-items">
                <h2 class="top1-2-items-heading">Questions to which we provide solutions</h2>
                <ul class="top1-2-list">
                    <li class="top1-2-items-data2">
                        What is DSA and how do I learn it?
                    </li>
                    <li class="top1-2-items-data2">
                        Which course is most suitable for DSA?
                    </li>
                    <li class="top1-2-items-data2">
                        What is competitive programming?
                    </li>
                    <li class="top1-2-items-data2">
                        How to start CP and which platform to use?
                    </li>
                    <li class="top1-2-items-data2">
                        What is development and what types of development are there?
                    </li>
                    <li class="top1-2-items-data2">
                        Need some course recommendations?
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="middle">
    <div class="middle1 wrap">
        <div class="middle1-1">
            <a href="/dsa" class="middle-link">
                <div class="middle1-1-1">
                    <img src="images/DSA.jpg" alt="DSA image" width="90%" height="250px" style="margin: 0 5% ;">
                    <h2 class="middle1-1-1-heading">Data Structures and Algorithms</h2>
                    <p class="middle1-1-1-para">
                        The most important thing to do if you want to work in big MNCs for SDE or any other software
                        development roles is DSA. A data structure is a data organization, management, and storage
                        format that is usually chosen for efficient access to data.
                    </p>
                </div>
            </a>
            <a href="/dev" class="middle-link">
                <div class="middle1-1-1">
                    <img src="images/Development.png" alt="Development image" width="90%" height="250px"
                        style="margin: 0 5% ;">
                    <h2 class="middle1-1-1-heading">Development</h2>
                    <p class="middle1-1-1-para">
                        Software development involves writing and maintaining the source code, but in a broader
                        sense, it includes all processes from the conception of the desired software through to the
                        final manifestation of the software, typically in a planned and structured process.
                    </p>
                </div>
            </a>
        </div>
        <div class="middle1-1">
            <a href="/cp" class="middle-link">
                <div class="middle1-1-1">
                    <img src="images/Competitive-Programming.jpg" alt="Competitive Programming image" width="90%"
                        height="250px" style="margin: 0 5% ;">
                    <h2 class="middle1-1-1-heading">Competitive Programming</h2>
                    <p class="middle1-1-1-para">
                        Competitive programming is a programming competition generally involving the host presenting
                        a set of logical or mathematical problems to the contestants and contestants are required to
                        write computer programs capable of solving each problem.
                    </p>
                </div>
            </a>
            <a href="/reso" class="middle-link">
                <div class="middle1-1-1">
                    <img src="images/Resources.jpg" alt="DSA image" width="90%" height="250px" style="margin: 0 5% ;">
                    <h2 class="middle1-1-1-heading">Resources</h2>
                    <p class="middle1-1-1-para">
                        There will be course recommendations and links, Youtube playlists, DSA question sheets,
                        editorial recommendations, and the most commonly used algorithms (from basic to advanced).
                        We will provide links to Udemy courses, useful websites, and resume templates</p>
                </div>
            </a>
        </div>
    </div>
</div>


<%- include("partials/footer.ejs") -%>