<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/753196f9fe.js" crossorigin="anonymous"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/resostyles.css">
    <!-- favicon -->
    <link rel="icon" href="favicon-2.ico">
    <title>Freshman || Resources</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Freshman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="top1">
        <div class="top1-1 wrap">
            <div class="top1-1-head">
                <h1 class="top1-1-heading">Extra Resources for DSA</h1>
            </div>
            <div class="top1-1-list">
                <ul class="top1-2-list">
                    <li class="top1-2-items">
                        <h1>Courses : </h1>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA"
                                    class="top1-2-link" target="_blank">
                                    <h4>CodeHelp DSA Course (C++)</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ"
                                    class="top1-2-link" target="_blank">
                                    <h4>Apna College DSA Course (C++) </h4>
                                </a>
                            </li>
                        </ul>
                        <a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA"
                            class="top1-2-link" target="_blank">
                        </a>
                        <p>
                            Both courses are very detailed, so you can choose either one. Choose one course and complete
                            it from beginning to end. This is the key to learning DSA. Avoid skipping courses halfway
                            through. The key to mastering DSA is practice, so do as many DSA questions as you can.
                        </p>
                    </li>
                    <li class="top1-2-items">
                        <h1>DSA Questions Sheet : </h1>
                        <ul>
                            <li>
                                <a href="https://takeuforward.org/strivers-a2z-dsa-course/strivers-a2z-dsa-course-sheet-2/"
                                    class="top1-2-link" target="_blank">
                                    <h4>Strivers A2Z DSA Sheet</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view"
                                    class="top1-2-link" target="_blank">
                                    <h4>Final 450 (CodeHelp DSA Sheet) </h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/spreadsheets/d/1hXserPuxVoWMG9Hs7y8wVdRCJTcj3xMBAEYUOXQ5Xag/edit#gid=0"
                                    class="top1-2-link" target="_blank">
                                    <h4>DSA Sheet from Apna College </h4>
                                </a>
                            </li>
                        </ul>
                        <p>
                            All of these sheets have the required questions to get ahead in the DSA. All three contain
                            nearly the same questions, just the quantity differs.
                        </p>
                    </li>
                    <li class="top1-2-items">
                        <h1>Articles and Editorials : </h1>
                        <ul>
                            <li>
                                <a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/?ref=shm"
                                    class="top1-2-link" target="_blank">
                                    <h4>GFG Articles</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://codeforces.com/catalog" class="top1-2-link" target="_blank">
                                    <h4>Codeforces Editorials </h4>
                                </a>
                            </li>
                        </ul>
                        <p>
                            While GFG articles are entirely DSA focused, Codeforces editorials are algorithmic in
                            nature.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top1-1 wrap" style="background-color: #66BFBF; color: #EEEEEE;">
            <div class="top1-1-head">
                <h1 class="top1-1-heading">Extra Resources for Competitive Programming</h1>
            </div>
            <div class="top1-1-list">
                <ul class="top1-2-list">
                    <li class="top1-2-items">
                        <h1>Platform to do Practice Questions : </h1>
                        <ul>
                            <li>
                                <a href="https://codeforces.com/problemset" class="top1-2-link-second" target="_blank">
                                    <h4>Codeforces</h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.codechef.com/practice?end_rating=5000&group=unattempted&hints=0&itm_campaign=practice&itm_medium=navmenu&limit=20&page=0&search=&sort_by=difficulty_rating&sort_order=asc&start_rating=0&tags=&topic=&video_editorial=0&wa_enabled=0"
                                    class="top1-2-link-second" target="_blank">
                                    <h4>Codechef </h4>
                                </a>
                            </li>
                            <li>
                                <a href="https://leetcode.com/contest/" class="top1-2-link-second" target="_blank">
                                    <h4>Leetcode </h4>
                                </a>
                            </li>
                        </ul>
                        <p>
                            These platforms will allow you to practice questions and run virtual contests on them to
                            excel in contests on those particular platforms.
                        </p>
                    </li>
                    <li class="top1-2-items">
                        <h1>Articles and Editorials : </h1>
                        <ul>
                            <li>
                                <a href="https://codeforces.com/catalog" class="top1-2-link-second" target="_blank">
                                    <h4>Codeforces Editorials </h4>
                                </a>
                            </li>
                        </ul>
                        <p>
                            If you want to excel in Codeforces, Codeforces editorials are a goldmine.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top1-1 wrap">
            <div class="top1-1-head">
                <h1 class="top1-1-heading">Extra Resources for Development</h1>
            </div>
            <div class="top1-1-list">
                <ul class="top1-2-list">
                    <li class="top1-2-items">
                        <h1>Courses : </h1>
                        <ul>
                            <li>
                                <h2>Web Development</h2>
                                <ul>
                                    <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/"
                                        class="top1-2-link" target="_blank">
                                        <li>The Complete 2023 Web Development Bootcamp - Dr. Angela Yu</li>
                                    </a>
                                    <a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n"
                                        class="top1-2-link" target="_blank">
                                        <li>Web Development Course - Apna College</li>
                                    </a>
                                    <a href="https://www.thecodehelp.in/course/web-development-bootcamp"
                                        class="top1-2-link" target="_blank">
                                        <li>Web Development Master Course @dot Batch - Code Help</li>
                                    </a>
                                </ul>
                            </li>
                            <li>
                                <h2>App Development</h2>
                                <ul>
                                    <a href="https://www.udemy.com/course/android-kotlin-developer/" class="top1-2-link"
                                        target="_blank">
                                        <li>The Complete Android 12 & Kotlin Development Masterclass - Denis Panjuta
                                        </li>
                                    </a>
                                </ul>
                            </li>
                            <li>
                                <h2>iOS Development</h2>
                                <ul>
                                    <a href="https://www.udemy.com/course/ios-13-app-development-bootcamp/"
                                        class="top1-2-link" target="_blank">
                                        <li>iOS & Swift - The Complete iOS App Development Bootcamp - Dr. Angela Yu</li>
                                    </a>
                                    <a href="https://learn.codewithchris.com/collections?_ga=2.63315053.317804837.1671793737-1795932840.1671793737#alltraining"
                                        class="top1-2-link" target="_blank">
                                        <li>iOS Development courses - codewithchris</li>
                                    </a>
                                </ul>
                            </li>
                        </ul>
                        <p style="font-size: 21px;">
                            If you are interested in these courses, please do not buy them immediately. Instead, you
                            should buy them during Udemy's sale.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") -%>