@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Pacifico&family=Satisfy&family=Sevillana&family=Ubuntu&family=Urbanist&display=swap');

.bottom {
    background-color: #10A19D;
}

.contact-me {
    font-family: 'Merriweather', serif;
    font-weight: 550;
    text-align: center;
    color: #fff;
    background-color: #10A19D;
}

.contact-me-btn {
    border: 1px solid;
    box-shadow: inset;
    border-radius: 8px;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
}

.contact-me-btn:hover {
    background-color: #EFEFEF;
    color: #fff;
}

.contact-me-h2 {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.contact-me-h3 {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    padding: 20px 0;
}

.copyright {
    font-size: 12px;
    margin-top: 20px;
}

.navbar {
    background-color: #10A19D;
    padding: 0 20px 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.navbar-brand {
    font-size: 32px;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
}

.nav-item {
    font-size: 18px;
}

.top1 {
    font-family: 'Ubuntu', sans-serif;

    color: #10A19D;
}

.top1-1-heading {
    font-family: 'Satisfy', cursive;
    padding-bottom: 40px;
    padding-left: 40px;
    font-size: 60px;
}

.top1-2-items {
    width: 90%;
    font-size: 20px;
}

.top1-2-link {
    color: #10A19D;
    text-decoration: none;
}

.top1-2-link :hover {
    color: #055762e9;
    text-decoration: none;
}

.top1-2-link-second {
    color: #fff;
    text-decoration: none;
}

.top1-2-link-second :hover {
    color: #1898a6;
    text-decoration: none;
}

.top1-2-list {
    line-height: 2;
}

.wrap {
    padding: 40px 80px;
    display: block;
}

@media (max-width :740px) {
    .top1-2 {
        display: block;
    }

    .top1-2-space1 {
        display: none;
    }

    .top1-2-space2 {
        display: none;
    }

    .top1-2-items {
        display: block;
        width: 100%;
    }

    .top1-2-items-data1 {
        padding: 0 20px;
    }

    .middle1-1 {
        display: block;
    }

    .middle1-1-1 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .wrap {
        padding: 30px 40px;
    }

    .top1-2-list {
        padding-left: 10px;
    }

    .top1-1-heading {
        padding-left: 20px;
        font-size: 50px;
    }
}

@media (max-width :380px) {

    .wrap {
        padding: 30px 20px;
    }

    .top1-2-list {
        padding-left: 10px;
    }
}

.joke-container {
    text-align: center;
}

.joke-heading {
    padding: 5px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 45px;
}

.joke-text {
    padding: 30px;
    font-family: 'Merriweather', serif;
    color: #fff;
    line-height: 1.5;
    font-size: 26px;
}

.joke-ruler {
    color: #fff;
}